@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 60vh;
    background-color: #383c41;
    color: #00FF6A;

    display: grid;
    grid-template-rows: 80px 1fr;

}

.logo img {
    height: 80px;

}

.navbar {
    background-color: #1B1D20;
    font-size: 1.3em;
    width: 100vw;
    height: 80px;
    padding: 20px;

    display: flex;
    flex-flow: row nowrap;

    justify-content: space-around;
    align-items: center;
}

#navUL {
    list-style: none;
    display: flex; 
    padding: 0;
    margin: 0;
    gap: 40px;
}

#navUL a {
    position: relative; 
    display: inline-block;
    padding: 10px 15px; 
    text-decoration: none;
    transition: color .3s ease;
    color: #00FF6A;

}

#navUL a::after {
    content: ''; 
    position: absolute;
    bottom: 0; 
    left: 0; 
    height: 3px; 
    width: 100%; 
    background-color: #00FF6A; 
    
   
    transform: scaleX(0); 
    transform-origin: bottom center; 
    transition: transform .5s ease-out; 
}


#navUL a:hover::after {
    transform: scaleX(1); 
}

#navUL a:hover {
    color: white; 
}

.social-icons {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    align-items: center;
}

.icon-box img {
    width: 28px;
    height: 28px;
}

.social-icons a {
    text-decoration: none;
}

.icon-box {
    width: 42px;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);

    border-radius: 12px;
    box-shadow: 
        0px 4px 12px rgba(0,0,0,0.2),
        0px 2px 4px rgba(0,0,0,0.1);

    transition: transform .2s, box-shadow .2s;
}

.icon-box:hover {
    transform: translateY(-3px);
    box-shadow: 
        0px 6px 18px rgba(0,0,0,0.3),
        0px 3px 8px rgba(0,0,0,0.15);
}


.header-main {
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;
    justify-items: center;
    min-width: 100vw;


}

.informacoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}


.informacoes h1, p {
    color: white;
    font-weight: bold;
    font-size: 1.7em;
}

.informacoes > h1 > span {
    color: #00FF6A;
    font-weight: bold;
    font-size: 2em;
}


.conheca-me > span {
    height: 70px;
    width: 170px;
    background-color: #0FA355;
    padding: 7px;
    border-radius: 12px;

    font-size: 1.3em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform .3s, box-shadow .3s;
}

.conheca-me {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.conheca-me:hover > span {
    transform: translateY(-2px);
    box-shadow: 
        0px 6px 18px rgba(0,0,0,0.3),
        0px 3px 8px rgba(0,0,0,0.15);
    border: 2px solid #0FA355;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.31);
}


main {
    display: grid;
    
    min-width: 100vw;
    min-height: 100vh;
    background-color: #383c41;
    padding: 20px;

    grid-template-columns: 40px 1fr 2fr 40px;
    grid-template-rows: auto auto;

    gap: 20px;
    
}

.sobre {
    grid-column: 2 / 3;

    padding: 10px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 40px;
}

.sobre > h1 {
    align-self: flex-start;
    font-weight: bold;
    color: rgb(255, 253, 253);
}

.sobre > p {
    font-size: 1.2em;
}


#mypic img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.projetos {
    grid-column: 3 / 4;
}

.contato {
    grid-row: 2 / -1;
    grid-column: 2 / 3;
}

.skills {
    grid-row: 2 / -1;
    grid-column: 3 / 4;


}






