@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #44484a;
    font-size: 1.3em;

    width: 90%;
    height: 80px;
    padding: 20px;
    
    border-radius: 16px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 1000;
}

.logo img {
    height: 80px;
}

#navUL {
    list-style: none;
    display: flex; 
    padding: 0;
    margin: 0;
    gap: 40px;
}

#navUL a {
    position: relative; 
    display: inline-block;
    padding: 10px 15px; 
    text-decoration: none;
    transition: color .3s ease;
    color: #00FF6A;

}

#navUL a::after {
    content: ''; 
    position: absolute;
    bottom: 0; 
    left: 0; 
    height: 3px; 
    width: 100%; 
    background-color: #00FF6A; 
    
   
    transform: scaleX(0); 
    transform-origin: bottom center; 
    transition: transform .5s ease-out; 
}


#navUL a:hover::after {
    transform: scaleX(1); 
}

#navUL a:hover {
    color: white; 
}

.social-icons {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    align-items: center;
}

.icon-box img {
    width: 28px;
    height: 28px;
}

.social-icons a {
    text-decoration: none;
}

.icon-box {
    width: 42px;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);

    border-radius: 12px;
    box-shadow: 
        0px 4px 12px rgba(0,0,0,0.2),
        0px 2px 4px rgba(0,0,0,0.1);

    transition: transform .2s, box-shadow .2s;
}

.icon-box:hover {
    transform: translateY(-3px);
    box-shadow: 
        0px 6px 18px rgba(0,0,0,0.3),
        0px 3px 8px rgba(0,0,0,0.15);
}


.header-main {
    min-height: 100vh;
    color: #00FF6A;

    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #23232a;

    align-items: center;
    justify-items: center;
    padding: 0 5%;
}

.informacoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}


.informacoes h1, p {
    color: white;
    font-weight: bold;
    font-size: 1.7em;
}

.informacoes > h1 > span {
    color: #00FF6A;
    font-weight: bold;
    font-size: 2em;
}


.conheca-me > span {
    height: 70px;
    width: 170px;
    background-color: #0FA355;
    padding: 7px;
    border-radius: 12px;

    font-size: 1.3em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform .3s, box-shadow .3s;
}

.conheca-me {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.conheca-me:hover > span {
    transform: translateY(-2px);
    box-shadow: 
        0px 6px 18px rgba(0,0,0,0.3),
        0px 3px 8px rgba(0,0,0,0.15);
    border: 2px solid #0FA355;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.31);
}

.sobre {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}

.sobre > p {
    font-size: 1.6em;
    text-decoration: underline #0FA355 3px;
    text-underline-offset: 11px;
}

#mypic img {
    border: solid black 2px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

main {
    display: grid;
    
    min-height: 100vh;
    background-color: #23232a;

    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: repeat(3, 1fr);

    gap: 60px;
}



.projetos {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.projetos p {
    font-size: 1em;
}

.projetos > h2 {
    color: white;
    font-weight: bold;
    font-size: 2em;

    margin-bottom: 40px;
    text-decoration: underline #0FA355 3px;
    text-underline-offset: 10px;

    align-self: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(220px, auto);

    justify-items: center;
}

.project-card {
    background-image: url(../images/project-card-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: #2b6e37 2px solid;
    border-radius: 12px;
    padding: 20px;
    height: 95%;
    width: 70%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    transition: box-shadow 0.3s ease ,border-color 1s ease;
}

.project-card h3 {
    font-weight: bold;
    color: white;
    font-size: 1.4em;
    margin-bottom: 20px;
}

.project-card p {
    font-size: 0.8em;
}

.project-card:hover {
    border: solid rgb(70, 197, 114) 3px;
    box-shadow: 
        0px 6px 18px rgba(0,0,0,0.3),
        0px 3px 8px rgba(0,0,0,0.15);
}

.actions {
    background-color: #40b671;
    border-radius: 5px;
    align-self: flex-end;
    padding: 7px;
    margin-top: auto;

    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.skills {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
    display: grid;
    grid-template-rows: 50px 1fr;
    color: white;
}

.skills > h2 {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 2em;

    text-decoration: underline #0FA355 3px;
    text-underline-offset: 6px;
}

.skills-flex {
    grid-row: 2 / 3;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.skill-card {
    background-color: #456846;
    border-radius: 12px;
    padding: 20px;
    width: 65%; 
    min-height: 60px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.447);
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: background-color 0.5s ease, width 0.5s ease, transform 0.3s ease, border .5s ease;
}

.skill-card h2 {
    text-align: center;
    align-self: center;
    font-size: 1.3em;
    margin: 0;
    transition: margin .5s ease;
}

.skill-card img {
    width: 40px;
    height: 40px;
    align-self: center;
    transition: transform .4s;
}

.skill-card-image-rotated {
    transform: rotate(-180deg);
    transition: transform .3s ease;
}

.skill-card-span {
    width: 80%;
    background-color: #229156;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.31);
    grid-template-rows: 1fr; 
    opacity: 1;
}

.skill-card-span h2 {
    margin: 5px;
}

.skill-card-span + .card-content {
    grid-template-rows: 1fr;
    opacity: 1;
    margin-bottom: 20px;
}

.card-content {
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    overflow: hidden;
    transition: grid-template-rows .5s ease-out, opacity .5s ease;
    margin-bottom: 0;
}

.content-wrapper {
    min-height: 0;
    display: flex;
    gap: 35px;
    padding-top: 10px;
    justify-content: center;
}

.tech-icon {
    width: 90px;
    height: 90px;
    background-color: #2b3137;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.2s;
    cursor: pointer;

    position: relative;
}

.tech-icon:hover {
    transform: translateY(-7px);
    box-shadow: 
        0px 6px 18px rgba(0,0,0,0.3),
        0px 3px 8px rgba(0,0,0,0.15);
    border: 1px solid #00FF6A;
}

.tech-icon img {
    width: 65px;
    height: 65px;
    object-fit: contain;
}


#springboot, #c, #cplusplus, #arduino {
    width: 50px;
    height: 50px;
}

#vscode {
    width: 60px;
    height: 60px;
}

.contato {
    grid-row: 3 / 4;
    grid-column: 2 / 3;

    align-self: center;
    justify-self: center;

    background-color: #3f4448;
    padding: 20px;
    border-radius: 10px;
    min-width: 50%;
    max-width: 60%;
    color: white;
    height: 70%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
}

.contato h2 {
    margin-bottom: 20px;
    font-size: 2em;
    align-self: center;

    text-decoration: underline #0FA355 3px;
    text-underline-offset: 10px;
}


.contato form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contato label {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contato input,
.contato textarea {
    padding: 7px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 0.85em;
}

.contato textarea {
    resize: none;
    height: 60px;
}

#submit {
    background-color: #0FA355;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 6px;
    font-size: 0.95em;
    font-weight: bold;
    cursor: pointer;
    width: 120px;
    height: 60px;
    margin-top: 48px;

    align-self: center;

    transition: background-color .4s ease, box-shadow .4s ease;
}

#submit:hover {
    background-color: #12c463;
    box-shadow: 
        0px 6px 12px rgba(0,0,0,0.3),
        0px 3px 8px rgba(0,0,0,0.15)
}



@media (max-width: 768px) {

    .navbar {
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
        border-radius: 0;
        height: 120px; 
        flex-direction: row;
        padding: 10px;
        gap: 15px;


    }

    #navUL {
        display: none;
    }

    .icon-box img {
        width: 24px;
        height: 24px;
    }    

    .icon-box {
        width: 38px;
        height: 38px;
    }

    .logo img {
        height: 60px; 
    }

   
    .header-main {
        grid-template-columns: 1fr; 
        height: auto;
        min-height: 100vh;
        padding: 160px 20px 60px 20px; 
        text-align: center;
        gap: 50px;
    }

    .informacoes {
        align-items: center; 
        order: 1; 
    }

    .conheca-me {
        display: none;
    }

    .sobre {
        order: 2;
        width: 100%;
    }

    
    main {
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        padding: 0 20px 50px 20px;
        gap: 40px;
    }

  
    .skills {
        grid-column: 1 / -1; 
        grid-row: auto;
    }

    .skill-card {
        width: 80%; 
        height: 60px;
        font-size: 0.8em;
        margin-top: 15px;
    }

    .skill-card-span {
        width: 100%;
    }

    .skill-card img {
        width: 30px;
        height: 30px;
    }

    .tech-icon {
        width: 60px;
        height: 60px;
        transition: transform .4s ease;
    }

    .tech-icon img {
        width: 35px;
        height: 35px;
    }

    #springboot, #c, #cplusplus, #arduino {
        width: 30px;
        height: 30px;
    }

    #vscode {
    width: 40px;
    height: 40px;
    }

    .content-wrapper {
        flex-wrap: wrap;
        padding: 10px;
    }

    .projetos {
        grid-column: 1 / -1; 
        grid-row: auto;
    }

    .project-grid {
        grid-template-columns: 1fr; 
    }

    .project-card {
        width: 100%;
        align-items: center; 
    }

    .project-card > p {
        text-align: justify;
    }

    .project-card > a {
        align-self: center;
    }
    
    .contato {
        grid-column: 1 / -1; 
        grid-row: auto;
        min-width: 100%; 
        padding: 30px 15px;
    }
    
    .contato h2 {
        font-size: 1.5em;
        text-align: center;
    }
}


@media (max-width: 400px) {
    #navUL {
        display: none; 
    }
    
    .informacoes h1 {
        font-size: 1.4em;
    }
}






