@charset "UTF-8";

body {
    width: 100%;
}

@media (max-width: 768px) {
   

    .navbar {
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
        border-radius: 0;
        height: 120px; 
        flex-direction: row;
        padding: 10px;
        gap: 15px;
    }

    #navUL {
        display: none;
    }

    .icon-box img {
        width: 24px;
        height: 24px;
    }    

    .icon-box {
        width: 38px;
        height: 38px;
    }

    .logo img {
        height: 60px; 
    }

   
    .header-main {
        grid-template-columns: 1fr; 
        height: auto;
        min-height: 100vh;
        padding: 160px 20px 60px 20px; 
        text-align: center;
        gap: 50px;
    }

    .informacoes {
        align-items: center; 
        order: 1; 
    }

    .conheca-me {
        display: none;
    }

    .sobre {
        order: 2;
        width: 100%;
    }

    
    main {
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        padding: 0 20px 50px 20px;
        gap: 40px;
    }

  
    .skills {
        grid-column: 1 / -1; 
        grid-row: auto;
    }

    .skill-card {
        width: 80%; 
        height: 60px;
        font-size: 0.8em;
        margin-top: 15px;
    }

    .skill-card-span {
        width: 100%;
    }

    .skill-card img {
        width: 30px;
        height: 30px;
    }

    .tech-icon {
        width: 60px;
        height: 60px;
        transition: transform .4s ease;
    }

    .tech-icon img {
        width: 35px;
        height: 35px;
    }

    #springboot, #c, #cplusplus, #arduino {
        width: 30px;
        height: 30px;
    }

    #vscode {
    width: 40px;
    height: 40px;
    }

    .content-wrapper {
        flex-wrap: wrap;
        padding: 10px;
    }

    .projetos {
        grid-column: 1 / -1; 
        grid-row: auto;
    }

    .project-grid {
        grid-template-columns: 1fr; 
    }

    .project-card {
        width: 100%;
        align-items: center; 
    }

    .project-card > p {
        text-align: justify;
    }

    .project-card > a {
        align-self: center;
    }
    
    .contato {
        grid-column: 1 / -1; 
        grid-row: auto;
        min-width: 100%; 
        padding: 30px 15px;
    }
    
    .contato h2 {
        font-size: 1.5em;
        text-align: center;
    }
}


@media (max-width: 400px) {
    #navUL {
        display: none; 
    }
    
    .informacoes h1 {
        font-size: 1.4em;
    }
}